*{
    margin: 0;
    padding:0;
}
.tc {
    text-align: center
}

.tr {
    text-align: right
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.show {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after,
.cl {
    clear: both;
}

.cf {
    zoom: 1;
}

.flex {
    display: flex;
}

.flex-m {
    align-items: center;
}
.flex-r{
    flex-direction:row-reverse;
}

.flex-1 {
    flex: 1
}

.flex-2 {
    flex: 2
}

.flex-3 {
    flex: 3
}

.flex-4 {
    flex: 4
}

.flex-5 {
    flex: 5
}
.mid {
    vertical-align: middle
}
.center{
    margin: 0 auto;
}

@for $i from 5 through 12 {
    .fs#{$i * 2} {
        font-size: $i * 2px;
    }
}

@for $i from 0 through 10 {
    .mr#{$i * 5} {
        margin-right: $i * 5px !important;
    }
    .ml#{$i * 5} {
        margin-left: $i * 5px !important;
    }
    .mt#{$i * 5} {
        margin-top: $i * 5px !important;
    }
    .mb#{$i * 5} {
        margin-bottom: $i * 5px !important;
    }
    .mg#{$i * 5} {
        margin: $i * 5px !important;
    }
    .pr#{$i * 5} {
        padding-right: $i * 5px !important;
    }
    .pl#{$i * 5} {
        padding-left: $i * 5px !important;
    }
    .pt#{$i * 5} {
        padding-top: $i * 5px !important;
    }
    .pb#{$i * 5} {
        padding-bottom: $i * 5px !important;
    }
    .pd#{$i*5} {
        padding: $i * 5px !important;
    }
}

@for $i from 1 through 30 {
    .w#{$i * 10} {
        width: $i * 10px;
    }
    @if $i<21 {
        .w#{$i * 5}p {
            width: $i * 5%;
        }
    }
}


/**
 微调样式
*/
.Vheader {
    padding: 0 20px;
  }
.searchBox {
    width: 300px;
    margin-top: 15px;
    .select {
      width: 100px;
    }
  }

  .btnGroup {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  // css无效
//   .el-dialog__header{
//     background: #1892d1;
//     span {
//     line-height: 1;
//     font-size: 16px;
//     font-weight: 700;
//     color: #fff;
//     }
//   }



/**
 公共重置样式 
*/


//表格里图片的方式
.img-style{
    background-size: cover;
    height: 90px;
    width:67px;
}


